<div class="page-height">
    <app-header></app-header>
    <div class="min-height">
        <div class="card mt-4 row mobile-bot-paddibg">
            <div class="card-header fw-bold font-15 left-padding-card">
                CONFIGURATION DETAILS
            </div>
            <div class="card-body p-0">
                <form class="row g-3 form" [ngClass]="{'formsubmitted': !!configurationDetailForm['submitted']}"
                    [formGroup]="configurationDetailForm" id="configurationdetailsform" novalidate>
                    <div class="row form-layout d-flex flex-wrap p-0 mb-0 top-margin">
                        <div class="col-md-6 col-sm-12 mb-4">
                            <label for="name" class="form-label required">Name</label>
                            <input  maxlength="50" id="name"  [readonly]="isEditFlag" required formControlName="Name"
                            allowAlphaNumeric placeholder="Enter value" type="text"
                                class="form-control w-100">
                            <div *ngIf="Name.invalid && (!!configurationDetailForm['submitted'] || Name.dirty || Name.touched)"
                                class="text-danger text-left">
                                <div *ngIf="Name.errors?.['required']">
                                    Please enter the value
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="controller-application" class="form-label">Controller Application</label>
                            <ng-select [clearable]="false" id="controller-application" required [readonly]="isEditFlag"
                                formControlName="ControllerApplication" [items]="controllerApplicationDropdown"
                                 (change)="onControllerChange($event)"
                                bindLabel="value" placeholder="Select value">
                            </ng-select>
                            <div *ngIf="ControllerApplication.invalid && (!!configurationDetailForm['submitted'] || ControllerApplication.dirty || ControllerApplication.touched)"
                                class="text-danger text-left">
                                <div *ngIf="ControllerApplication.errors?.['required']">

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button type="button" class="defaultbtn btn-next btnback bg-white"
                (click)="addConfigurePage()">BACK</button>
        </div>
        <div class="btn-combine">
            <button *ngIf="isEditFlag" type="button" class="defaultbtn btn-next btn-width me-3"
                (click)="navigateToReviewPage()">REVIEW</button>
            <button type="button"  [disabled]="configurationDetailForm.invalid" class="defaultbtn btn-next btn-width"
                (click)="controllerProductNavigate()">NEXT</button>
            
        </div>
    </div>
</div>