.top-margin{
    margin-top: 40px;
}
.form .ng-invalid.form-control {
    border-color: #7B7B7B !important;
    box-shadow: none;
}
.form .ng-invalid.ng-touched {
    border-color: #dc3545 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

@media screen and (max-width: 1023px) {
    .justify-content-between {
        justify-content: space-between !important;
        position: relative;
        margin-top: 100%;
    }

    .btn-combine {
        display: flex;
        width: unset;
    }
 }