::ng-deep .mat-h4,
.mat-subheading-1,
.mat-typography .mat-h4,
.mat-typography .mat-subheading-1,
.mat-typography h4 {
    font: 400 25px/24px Roboto, "Helvetica Neue", sans-serif !important;
    letter-spacing: normal;
    margin: 10px 0 16px !important;
}

.scrol-ele{
    height: auto;
    overflow-y: scroll;
}

.font {
    font-size: 14px;
}

@media screen and (max-width: 1023px) {
    .mat-h4 {
        font: 400 25px/24px Roboto, "Helvetica Neue", sans-serif !important;
        margin: 5px 0 5px !important;
    }
    .modal-body {
        padding: 10px 15px 4px 15px !important;
    }

    span.me-2 {
        height: 25px;
    }

    .movie-block {
        padding: 0px 10px;
    }

    .font {
        font-size: 12px;
    }
}