<div class="saved-config">
    <div class="page-tittle">
      <span class="font-24 me-3 responsive-size">Requests & Approval</span>
    </div>
  </div>
  
  <!--IF Configuratioin Data avaiable-->
  <div class="saved-congig-data table-responsive mt-4 ">
    <table class="table table-odd-row-col ">
      <thead>
        <tr>
          <th class="font-14 table-header fw-normal text-start" scope="col">AssetId</th>
          <th class="font-14 table-header fw-normal text-start ps-0" scope="col">Asset Name</th>
          <th class="font-14 table-header fw-normal text-start ps-0" scope="col">Asset Name</th>
          <th class="font-14 table-header fw-normal text-start" scope="col">Assigned By</th>
          <th class="font-14 table-header fw-normal text-start" scope="col">Assigned To</th>

          <th class="font-14 table-header fw-normal text-start ps-0" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of portalConfigData">
            <td scope="row" style="min-width: 120px;"><a (click)="editConfigFiles(item,item.id)" class="breakword cursor-pointer blue text-decoration-underline">{{item.id.split("_")[0]}}</a>
              <img *ngIf="item.SharedBy!=null" height="20px" width="20px" src="/assets/images/Shared.svg">
            </td>
          <td>{{item.id.split("_")[1]}}</td>
          <td>
            <span *ngIf="item.SharedBy!=null;else createdBy">{{item.SharedBy}}</span>
            <ng-template #createdBy>{{item.email}}</ng-template>
          </td>
          <td><button (click)="ShareConfiguration(item)" class="border-0 back-none"><a><img
                  src="/assets/images/Share.svg"></a></button></td>
          <td><a class="cursor-pointer" (click)="deleteConfigFiles(item.id)"><img
                src="/assets/images/Delete-homepage.svg"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- No Configuratioin Data avaiable-->
  
  <!---- *ngIf="!!noConfig" -->
  <div class="no-Config-Data" *ngIf="!portalConfigData || noConfig">
    <div class="row flex-column text-center mtop">
      <div class="col">
        <div><img src="/assets/images/Empty-Folder.svg"></div>
      </div>
      <div class="col mtoptext">
        <p class="font-24 responsive-f-size">YOU’VE NOT ADDED ANY Assets YET</p>
        <div class="font-16 mb-3 mt-2">Would you like to add one?</div>
        <button type="button" id="add-configuration" (click)="addAsset()" class="add-configuration defaultbtn">ADD
          Asset</button>
      </div>
    </div>
  </div>