<div class="saved-config">
    <div class="page-tittle">
      <span class="font-24 me-3 responsive-size">Users</span>
      <div class="align-right">
        <button class="btn btn-primary" (click)="addUser()"> Add User</button>
      </div>
      </div>
  </div>
  
  <!--IF Configuratioin Data avaiable-->
  <div class="saved-congig-data table-responsive mt-4 ">
    <table class="table table-odd-row-col ">
      <thead>
        <tr>
          <th class="font-14 table-header fw-normal text-start" scope="col">EmployeeId</th>
          <th class="font-14 table-header fw-normal text-start" scope="col">Name</th>
          <th class="font-14 table-header fw-normal text-start" scope="col">Email</th>
          <th class="font-14 table-header fw-normal text-start ps-0" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of userList">
            <td>{{item.EmployeeId}}</td>
          <td>{{item.EmployeeName}}</td>
          <td>{{item.Email}}</td>
          <td><a class="cursor-pointer" (click)="deleteConfigFiles(item)"><img
                src="/assets/images/Delete-homepage.svg"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- No Configuratioin Data avaiable-->
  
  <!---- *ngIf="!!noConfig" -->
  <div class="no-Config-Data" *ngIf="!userList || noConfig">
    <div class="row flex-column text-center mtop">
      <div class="col">
        <div><img src="/assets/images/Empty-Folder.svg"></div>
      </div>
      <div class="col mtoptext">
        <p class="font-24 responsive-f-size">YOU’VE NOT ADDED ANY USER YET</p>
        <div class="font-16 mb-3 mt-2">Would you like to add one?</div>
        <button type="button" id="add-configuration" (click)="addUser()" class="add-configuration defaultbtn">ADD
          Asset</button>
      </div>
    </div>
  </div>