<app-header></app-header>
<div id="collapsesection">
    <form id="waterform" autocomplete="off" class="{'formsubmitted': !!waterSettingsForm['submitted']}"
        [formGroup]="waterSettingsForm" novalidate>
        <div [ngClass]="{'h-auto': getWaterControlsArray.length > 1}" formArrayName="getWaterControlsArray"
            class="min-height">
            <div class="card mt-4 row" *ngFor="let washerList of getWaterControlsArray.controls; let i=index;"
                [ngClass]="hideWaterContent[i] ? 'active' : '' ">
                <div class=" card-header fw-bold font-15 left-padding-card d-flex justify-content-between">
                    BODIES OF WATER {{i+1}}
                    <div class="img-washer d-flex">
                        <div class="mx-3 cursor-pointer">
                            <button (click)="removeWater(i)" class="border-0 btn-disable p-0"
                                [disabled]="getWaterControlsArray.length == 1"><img
                                    src="/assets/images/Delete-icon.svg"></button>
                        </div>
                        <div class="mx-3 cursor-pointer">
                            <button [disabled]="getWaterControlsArray.length == maxLength"
                                class="border-0 btn-disable p-0" (click)="addAndCopyWater(-1,false)"><img src="
                                /assets/images/Create-icon.svg"></button>
                        </div>
                        <div class="mx-3 cursor-pointer">
                            <button [disabled]="getWaterControlsArray.length == maxLength || copyBtnDisable[i] "
                                class="border-0 btn-disable p-0" (click)="addAndCopyWater(i,true)"><img
                                    src="/assets/images/Copy.svg"></button>
                        </div>
                        <div class="mx-3 cursor-pointer" (click)="toggleWater(i)">
                            <span class="down-arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0" id="bodycollapse" class="accordion-toggle cart-body-mobile"
                    aria-labelledby="cardcollapse" aria-multiselectable="true" data-bs-parent="#collapsesection">
                    <div class="form-layout">
                        <div [formGroupName]="i">
                            <div class="row mb-4  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label class="fw-bold">{{labelObjectMessages.bowSettings}}</label>
                                </div>
                            </div>
                            <div class="row mb-4  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Type" class="form-label cap-pad">{{labelObjectMessages.bowType}}</label>
                                    <ng-select [clearable]="false" id="type" [items]="types" bindLabel="value"
                                        formControlName="Types" placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Disinfectant"
                                        class="form-label">{{labelObjectMessages.bowDisinfectant}}</label>
                                    <ng-select [clearable]="false" id="Disinfectant" bindLabel="value"
                                        formControlName="Disinfectant" [items]="disinfectant" placeholder="Select value"
                                        (change)="onDisinfectantChange(i)">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row mb-4  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Name"
                                        class="form-label cap-pad">{{labelObjectMessages.bowFeeder}}</label>
                                    <ng-select [clearable]="false" id="Feeder" placeholder="Select value"
                                        formControlName="Feeder" [items]="feeder" bindLabel="value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="pH_Setpoint"
                                        class="form-label">{{labelObjectMessages.bowPhSetPoint}}</label>
                                    <ng-select [clearable]="false" id="PHSetPoint" [items]="pHSetpoint"
                                        formControlName="PHSetPoint" bindLabel="value" placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row mb-4  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Disinfectant_Sensor"
                                        class="form-label">{{labelObjectMessages.bowdisinfectantSensor}}</label>
                                    <ng-select [clearable]="false" id="PHDisinfectantSensor" [items]="disinfectantSensor"
                                        formControlName="PHDisinfectantSensor" bindLabel="value"
                                        placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Disinfectant_Setpoint"
                                        class="form-label cap-pad">{{labelObjectMessages.bowDisinfectantSetpoint}}</label>
                                    <ng-select [clearable]="false" id="PHDisinfectantSetPoint"
                                        formControlName="PHDisinfectantSetPoint" [items]="disinfectantSetpoint"
                                        bindLabel="value" placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row mb-4  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Flow_Meter"
                                        class="form-label cap-pad">{{labelObjectMessages.bowFlowMeter}}</label>
                                    <input id="FlowMeter" [readonly]="true" required formControlName="FlowMeter"
                                        type="text" class="form-control w-100">
                                </div>
                            </div>
                            <div>
                                <div class="align-items-center pb-3 border-bottom mb-3"></div>
                            </div>
                            <div>
                                <div class="row mb-4  margin-0-mobile">
                                    <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                        <label class="fw-bold">{{labelObjectMessages.bowAdvanced}}</label>
                                    </div>
                                </div>
                                <div class="row mb-4  margin-0-mobile">
                                    <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                        <label for="pH_in_Overfeed"
                                            class="form-label cap-pad">{{labelObjectMessages.bowPhInOverfeed}}</label>
                                        <input id="pHInOverFeed" type="text" numericOnly required min="15" max="1260"
                                            maxlength="4" formControlName="pHInOverFeed" type="text"
                                            class="form-control w-100" (ngModelChange)="onPHOverfeedChange(i)">
                                    </div>
                                    <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                        <label for="Disinfectant_in" class="form-label">{{
                                            labelObjectMessages.bowDisinfectantInOverfeed }}</label>
                                        <input id="DisinfectantInOverFeed" type="text" numericOnly required min="15"
                                            max="1260" maxlength="4" formControlName="DisinfectantInOverFeed" type="text"
                                            class="form-control w-100"
                                            (ngModelChange)="onDisinfectantOverfeedChange(i)">
                                    </div>
                                </div>
                                <div class="row mb-4  margin-0-mobile">
                                    <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                        <label for="AuxOne"
                                            class="form-label cap-pad">{{labelObjectMessages.bowAuxOne}}</label>
                                        <ng-select [clearable]="false" id="Aux1" formControlName="Aux1"
                                            (change)="enableOrResetAuxOneSettings($event,i);" [items]="auxValues"
                                            bindLabel="value" placeholder="Select value">
                                            <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                            </ng-template>
                                        </ng-select>
                                        <div *ngIf="this.waterSettingsForm.value.getWaterControlsArray[i].Aux1?.value == 'ON'"
                                            class="mt-3">
                                            <div class="mb-3">
                                                <label for="FeederTypeOne"
                                                    class="form-label cap-pad">{{labelObjectMessages.bowFeederTypeOne}}</label>
                                                <ng-select [clearable]="false" id="FeederType1"
                                                    formControlName="FeederType1" [items]="FeederTypeValues"
                                                    bindLabel="value" placeholder="Select value">
                                                    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="daysOfWeekOne"
                                                    class="form-label cap-pad">{{labelObjectMessages.bowDaysOfTheWeek}}</label>
                                                <ul class="list-group list-group-horizontal">
                                                    <app-day-custom [value]="'S'"
                                                        formControlName="isSunAux1"></app-day-custom>
                                                    <app-day-custom [value]="'M'"
                                                        formControlName="isMonAux1"></app-day-custom>
                                                    <app-day-custom [value]="'T'"
                                                        formControlName="isTueAux1"></app-day-custom>
                                                    <app-day-custom [value]="'W'"
                                                        formControlName="isWedAux1"></app-day-custom>
                                                    <app-day-custom [value]="'T'"
                                                        formControlName="isThuAux1"></app-day-custom>
                                                    <app-day-custom [value]="'F'"
                                                        formControlName="isFriAux1"></app-day-custom>
                                                    <app-day-custom [value]="'S'"
                                                        formControlName="isSatAux1"></app-day-custom>
                                                </ul>
                                            </div>
                                            <div class="mb-3">
                                                <label for="timeOne"
                                                    class="form-label cap-pad mb-3">{{labelObjectMessages.bowTimeOfTheDay}}</label>
                                                    <ngb-timepicker class="ngb-tp-input ngb-tp-button" id="firstStartTime1"
                                                    name="firstStartTime" formControlName="Time1"
                                                    [meridian]="true"></ngb-timepicker>

                                            </div>
                                            <div class="mb-3">
                                                <label for="timeDurationOne"
                                                    class="form-label cap-pad">{{labelObjectMessages.bowDuration}}</label>
                                                <ng-select [clearable]="false" id="Duration1"
                                                    formControlName="Duration1" [items]="timeDurationInSec"
                                                    bindLabel="value" placeholder="Select value">
                                                    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                        <label for="AuxTwo" class="form-label">{{labelObjectMessages.bowAuxTwo}}</label>
                                        <ng-select [clearable]="false" id="Aux2" bindLabel="value"
                                            (change)="enableOrResetAuxTwoSettings($event,i)" formControlName="Aux2"
                                            [items]="auxValues" placeholder="Select value">
                                            <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                            </ng-template>
                                        </ng-select>
                                        <div *ngIf="this.waterSettingsForm.value.getWaterControlsArray[i].Aux2?.value == 'ON'"
                                            class="mt-3">
                                            <div class="mb-3">
                                                <label for="feederTypeTwo"
                                                    class="form-label cap-pad">{{labelObjectMessages.bowFeederTypeOne}}</label>
                                                <ng-select [clearable]="false" id="FeederType2"
                                                    formControlName="FeederType2" [items]="FeederTypeValues"
                                                    bindLabel="value" placeholder="Select value">
                                                    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="daysOfWeekTwo"
                                                    class="form-label cap-pad">{{labelObjectMessages.bowDaysOfTheWeek}}</label>
                                                <ul class="list-group list-group-horizontal">
                                                    <app-day-custom [value]="'S'"
                                                        formControlName="isSunAux2"></app-day-custom>
                                                    <app-day-custom [value]="'M'"
                                                        formControlName="isMonAux2"></app-day-custom>
                                                    <app-day-custom [value]="'T'"
                                                        formControlName="isTueAux2"></app-day-custom>
                                                    <app-day-custom [value]="'W'"
                                                        formControlName="isWedAux2"></app-day-custom>
                                                    <app-day-custom [value]="'T'"
                                                        formControlName="isThuAux2"></app-day-custom>
                                                    <app-day-custom [value]="'F'"
                                                        formControlName="isFriAux2"></app-day-custom>
                                                    <app-day-custom [value]="'S'"
                                                        formControlName="isSatAux2"></app-day-custom>
                                                </ul>
                                            </div>
                                            <div class="mb-3">
                                                <label for="timeTwo"
                                                    class="form-label cap-pad mb-3">{{labelObjectMessages.bowTimeOfTheDay}}</label>
                                                <ngb-timepicker class="ngb-tp-input ngb-tp-button" id="firstStartTime2"
                                                    name="firstStartTime" formControlName="Time2"
                                                    [meridian]="true"></ngb-timepicker>


                                            </div>
                                            <div class="mb-3">
                                                <label for="timeDurationTwo"
                                                    class="form-label cap-pad">{{labelObjectMessages.bowDuration}}</label>
                                                <ng-select [clearable]="false" id="Duration2"
                                                    formControlName="Duration2" [items]="timeDurationInSec"
                                                    bindLabel="value" placeholder="Select value">
                                                    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="d-flex justify-content-between">
    <div>
        <button type="button" class="defaultbtn btn-next btnback bg-white"
            (click)="ControllerProductPage()">BACK</button>
    </div>
    <div class="btn-combine">
        <button *ngIf="isEditFlag" type="button" class="defaultbtn btn-next btn-width me-3"
        [disabled]="isInvalidOverfeed" (click)="navigateToReviewPage()">REVIEW</button>
        <button type="button" class="defaultbtn btn-next btn-width" [disabled]="isInvalidOverfeed" (click)="navigateToReviewPage()">NEXT</button>
    </div>
</div>