<form class="card form" [formGroup]="addAssetForm" [ngClass]="{'formsubmitted': !!addAssetForm['submitted']}">
    <div class="modal-header card-header fw-bold font-15">
        <h4 class="mat-h4">{{ assetHeader}}</h4>
        <button type="button" class="close font-24 border-0 blue bg-transparent" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body area-poup">
       
        <div class="form-layout">
            <div class="row mb-4">
                <div class="col">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Name" class="form-label">Asset Name</label>
                            <input type="text" class="form-control" formControlName="AssetName"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="Name" class="form-label">Unique Identifier</label>
                            <input type="text" class="form-control" formControlName="UniqueIdentifier"/>
                        </div>
                    </div> 
                <!-- <div class="text-danger text-left" *ngIf="AssetName.errors?.['pattern']"> Only space is not allowed </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="defaultbtn btn-next btnback bg-white w-auto mx-3"
            (click)="activeModal.close(false)">Cancel</button>
        <button class="defaultbtn btn-next btn-width w-auto" type="submit" (click)="createAsset()">Save</button>
    </div>
</form> 