################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/assetmanagement/.vs/assetmanagement
/.vs
/assetmanagement/assetmanagement/bin/Debug/netcoreapp3.1
/assetmanagement/assetmanagement/obj/Debug/netcoreapp3.1
assetmanagement/.vs/ProjectEvaluation/assetmanagement.metadata.v5.2
assetmanagement/.vs/ProjectEvaluation/assetmanagement.projects.v5.2
