<form class="card form">
    <div class="modal-header card-header fw-bold font-15 ">
        <div class="row mb-0">
            <h4 class="mat-h4">{{popupObjectMessage.copyFormulaText}}</h4>
        </div>
        <button type="button" class="close font-24 border-0 blue bg-transparent" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body area-poup">
        <div class="form-layout w-100 m-0">
            <div class="row mb-4">
                <div>
                    <label for="CopyFrom" class="form-label font-13">{{ popupObjectMessage.copyFromText }}</label>
                </div>
                <div class="col">
                    <div >
                        <input type="radio" value="Sample" [checked]="true">
                        &nbsp;
                        <label for="Name" class="mat-body">{{washerList[index].WasherName}}</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div>
                    <label for="CopyFrom" class="form-label font-13">{{ popupObjectMessage.copyToText }}</label>
                </div>
                <div class="col">
                    <div *ngFor='let item of washers;let i = index'>
                        <input type="radio"  (click)='onChange(item.WasherNumber)' [checked]="item.radioChecked" >
                        &nbsp;
                        <label for="Name" class="mat-body">{{item.WasherName}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="defaultbtn btn-next btnback bg-white w-auto" type="submit" [disabled]="!isConfirmDisabled"
            (click)="confirmationClick()">Ok</button>
    </div>
</form>