<app-header></app-header>
<div id="collapsesection">
    <form id="washerform" [ngClass]="{'formsubmitted': !!washerSettingsForm['submitted']}"
        [formGroup]="washerSettingsForm" novalidate>
        <div [ngClass]="{'h-auto': getWasherControlsArray.length > 1}" formArrayName="getWasherControlsArray"
            class="min-height">
            <div class="card mt-4 row" *ngFor="let washerList of getWasherControlsArray.controls; let i=index;"
                [ngClass]="hideWasherContent[i] ? 'active' : '' ">
                <div class=" card-header fw-bold font-14 left-padding-card d-flex justify-content-between">
                    WASHER {{i+1}}: SETTINGS
                    <div class="img-washer d-flex">
                        <div class="mx-3 cursor-pointer">
                            <button (click)="removeWasher(i)" [disabled]="getWasherControlsArray.length == 1"
                                class="border-0 btn-disable p-0"><img src="/assets/images/Delete-icon.svg"></button>
                        </div>
                        <div class="mx-3 cursor-pointer">
                            <button [disabled]="getWasherControlsArray.length == maxLength"
                                class="border-0 btn-disable p-0" (click)="addAndCopyWasher(-1,false)"><img
                                    src="/assets/images/Create-icon.svg"></button>
                        </div>
                        <div class="mx-3 cursor-pointer">
                            <button [disabled]="getWasherControlsArray.length == maxLength"
                                class="border-0 btn-disable p-0" (click)="addAndCopyWasher(i,true)"><img
                                    src="/assets/images/Copy.svg"></button>
                        </div>
                        <div class="mx-3 cursor-pointer" (click)="toggleWasher(i)">
                            <span class="down-arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0" id="bodycollapse" class="accordion-toggle cart-body-mobile"
                    aria-labelledby="cardcollapse" aria-multiselectable="true" data-bs-parent="#collapsesection">
                    <div class="form-layout">
                        <div [formGroupName]="i">
                            <!-- <div class="row mb-3  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Name" class="form-label">Washer Number</label>
                                    <input id="washernumber" [readonly]="true" formControlName="WasherNumber"
                                        placeholder="Enter value" type="text" class="form-control w-100">
                                </div>
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="controllerapplication" class="form-label">Washer Name</label>
                                    <input id="washername" [readonly]="true" formControlName="WasherName"
                                        placeholder="Enter value" type="text" class="form-control w-100">
                                </div>
                            </div> -->
                            <div class="row mb-4  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Name" class="form-label cap-pad">Capacity</label>
                                    <mat-icon #tooltip="matTooltip"
                                        [matTooltip]="popupObjectMessage.washerCapacityToolTip"
                                        [matTooltipPosition]="'right'"
                                        [matTooltipClass]="{'right': true}">info_outline</mat-icon>
                                    <ng-select [clearable]="false" id="capacity" formControlName="Capacity"
                                        [items]="loadCapacityLbOrKg" placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="controllerapplication" class="form-label">Signal Mode</label>
                                    <ng-select (change)="onChagneSignalMode(i)" [clearable]="false" id="signalmode"
                                        formControlName="SignalMode" [items]="signalMode" bindLabel="value"
                                        placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row mb-4  margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Name" class="form-label">Revert Formula</label>
                                    <ng-select [clearable]="false" id="revertformula" formControlName="RevertFormula"
                                        [items]="revertFormula" bindLabel="value" placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="Name" class="form-label cap-pad">Advanced Signal Mode</label>
                                    <mat-icon #tooltip="matTooltip"
                                        *ngIf="washerList['controls']['AdvancedSignalMode'].value != naValue"
                                        [matTooltip]="popupObjectMessage.AdvancedSignalModeToolTip"
                                        [matTooltipPosition]="'right'"
                                        [matTooltipClass]="{'right': true}">info_outline</mat-icon>
                                        
                                    <ng-select class="ngdisable"
                                        [readonly]="washerList['controls']['AdvancedSignalMode'].value == naValue"
                                        [clearable]="false" id="advancedsignalmode" formControlName="AdvancedSignalMode"
                                        [items]="advanceSingnalMode" bindLabel="value" placeholder="Select value">
                                        <ng-template *ngIf="selectedSignalMode != 'Standard'" ng-optgroup-tmp
                                            let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                    <!-- <label for="controllerapplication" class="form-label">Post Flush Time</label>
                                    <ng-select [clearable]="false" id="postflushtime" formControlName="PostFlushTime"
                                        [items]="postFlushTime" bindLabel="value" placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select> -->
                                </div>
                            </div>
                            <!-- <div class="row mb-4 margin-0-mobile">
                                <div class="col-md-6 col-sm-12 mobile-padding-bottom">
                                    <label for="controllerapplication" class="form-label">Signal Filter Time</label>
                                    <ng-select [clearable]="false" id="signalfiltertime"
                                        formControlName="SignalFilterTime" [items]="signalFilterTimeSec"
                                        bindLabel="value" placeholder="Select value">
                                        <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                        </ng-template>
                                    </ng-select>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="d-flex justify-content-between">
    <div>
        <button type="button" class="defaultbtn btn-next btnback bg-white"
            (click)="ControllerProductPage()">BACK</button>
    </div>
    <div class="btn-combine">
        <button *ngIf="isEditFlag" type="button" class="defaultbtn btn-next btn-width me-3"
            (click)="navigateToReviewPage()" [disabled]="hasProductError">REVIEW</button>
        <button type="button" class=" defaultbtn btn-next btn-width" (click)="formulaPage()"
            [disabled]="hasProductError">NEXT</button>
    </div>
</div>