<div class="modal-body pt-4">
    <h5 class="text-center fw-bold">{{alertHeader}}</h5>
    <label for="Name" class="form-label">{{copyWasherAlertMessage}}</label>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="text-center button-container d-flex justify-content-end">
                <button type="button" class="defaultbtn btn-next btn-width w-auto"
                    (click)="activeModal.close(true)">{{confirmPopupText}}</button>
            </div>
        </div>
    </div>
</div>