<div class="page-height">
    <app-header></app-header>
    <form class="row g-3 form  pt-3" [ngClass]="{'formsubmitted': !!alcsControllerForm['submitted']}"
        [formGroup]="alcsControllerForm" id="alcsControllerForm" novalidate>
        <div class="card mt-4 p-0">
            <div class="card-header fw-bold font-15 left-padding-card">
                {{this.popupObjectMessage.ControllerCOnfig}}
            </div>
            <div class="card-body p-0 cart-body-mobile">
                <div class="form-layout">
                    <div class="row mb-3 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="unitofmeasure" class="form-label">{{this.popupObjectMessage.Uom}}</label>
                            <ng-select [clearable]="false" (change)="onChangeUnitofMeasure(UnitOfMeasure)"
                                id="unitofmeasure" formControlName="UnitOfMeasure" [items]="unitOfMeasure"
                                bindLabel="value" bin placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <ul>
                                <label for="Mode" class="form-label label-display">{{this.popupObjectMessage.Mode}}</label>
                                <li class="mb-1">
                                    <input class="form-check-input" type="checkbox" formControlName="Timer" id="timer">
                                    <label class="form-check-label margin-left" for="timer">{{this.popupObjectMessage.Timer}}</label>
                                </li>
                                <li class="mb-1">
                                    <input class="form-check-input" [disabled]="true" type="checkbox" id="Relay" value="">
                                    <label class="form-check-label margin-left" for="Relay">{{this.popupObjectMessage.Relay}}</label>
                                </li>
                                <li class="mb-1">
                                    <input class="form-check-input" [disabled]="true" type="checkbox" id="Event">
                                    <label class="form-check-label margin-left" for="Event">{{this.popupObjectMessage.Event}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 p-0">
            <div class="card-header fw-bold font-15 left-padding-card">
                {{this.popupObjectMessage.PumpSettings}}
            </div>
            <div class="card-body p-0 cart-body-mobile">
                <div class="form-layout">
                    <div class="row mb-3 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="Name" class="form-label">Pump 1 </label>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pump1" formControlName="PumpOne" bindLabel="value"
                                placeholder="Select value" [items]="pumpData?.Pump1" (ngModelChange)="onPocketValueChange(1)">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="controllerapplication" class="form-label">Pump 2 </label>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pump2" formControlName="PumpTwo" bindLabel="value"
                                placeholder="Select value" [items]="pumpData?.Pump2" (ngModelChange)="onPocketValueChange(2)">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="Name" class="form-label">Pump 3</label>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pump3" formControlName="PumpThree" bindLabel="value"
                                placeholder="Select value" [items]="pumpData?.Pump3" (ngModelChange)="onPocketValueChange(3)">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <!-- <label for="controllerapplication" class="form-label"></label> -->
                            <div [ngSwitch]="selectedController">
                                <div class="row mb-6 margin-0-mobile">
                                    <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                        <label for="Name" class="form-label">Pump 4</label>
                                    </div>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pump4" formControlName="PumpFour" bindLabel="value"
                                placeholder="Select value" [items]="pumpData?.Pump4" (ngModelChange)="onPocketValueChange(4)">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="Name" class="form-label">Pump 5</label>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pump5" formControlName="PumpFive" bindLabel="value"
                                placeholder="Select value" [items]="pumpData?.Pump5" (ngModelChange)="onPocketValueChange(5)">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <!-- <label for="controllerapplication" class="form-label"></label> -->
                            <div [ngSwitch]="selectedController">
                                <div class="row mb-6 margin-0-mobile">
                                    <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                        <label for="Name" class="form-label">Pump 6</label>
                                    </div>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pump6" formControlName="PumpSix" bindLabel="value"
                                placeholder="Select value" [items]="pumpData?.Pump6" (ngModelChange)="onPocketValueChange(6)">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <button type="button" class="defaultbtn btn-next btnback bg-white"
                    (click)="backtoDetailsPage()"> {{this.popupObjectMessage.back}}</button>
            </div>
            <div class="btn-combine">
                <button *ngIf="isEditFlag" type="button" class="defaultbtn btn-next btn-width me-3"
                    (click)="navigateToReviewPage()" [disabled]="hasProductError">{{this.popupObjectMessage.review}}</button>
                <button type="button" [disabled]="hasProductError" class="defaultbtn btn-next btn-width"
                    (click)="nextPage()">{{this.popupObjectMessage.next}}</button>
            </div>
        </div>
    </form>
</div>