.label-display{
    display: block;
}

.margin-left{
    margin-left: 3px;
}

.margin-left-input{
    margin-left: 10px;
}

@media screen and (max-width: 399px) {
    
    .margin-left{
        margin-left: 3px;
    }

    .margin-left-label{
        margin-left: 3px;
    }
    
  }