$black: #000000;

.top-pad {
  padding-top: 2px;
}

.inputstyle {
  width: 180px;
  height: 30px;
}

.back-round {
  background-color: #0086E93D;
}

.form-layout {
  margin: 20px 0;
}

// .left-right-pad {
//     //padding: 0 30px;
// }

.centeralign {
  text-align: -webkit-center;
}

.table> :not(:first-child),
.table> :not(caption)>* {
  padding: 12px 10px;
  font-size: 12px;
  color: $black;
}

.table tr th {
  padding: 2px 10px;
}

.inputwidth {
  width: 70px;
}

.delaywidth {
  width: 45px !important;
}

thead,
tbody,
tfoot,
tr,
td,
th,
.padding-row {
  vertical-align: middle;
  color: $black;
  padding: 12.5px 11px;
}

.padding-row {
  background-color: #0086E90F;
}

.table-odd-row-col>tbody:nth-of-type(odd) {
  background: #fff;
}

.table-odd-row-col>tbody:nth-of-type(even) {
  background: #0086E90F;
}

.table-odd-row-col>tbody>tr:nth-of-type(odd)>* {
  background: none;
}

.cust-tiles {
  border-color: #0086E9;
  border-radius: initial;
}

.formula-section.card {
  border: none;
}

.ajust-padding {
  padding: 14px 25px;
}

.align-rit {
  padding: 0 9px;
}

.formula-btn {
  background: #0086E9;
  padding: 5px 10px 5px 10px !important;
}

.example-list {
  max-width: 100%;
  border-radius: 4px;
  //overflow: hidden;
}

.cursor-move {
  cursor: move;
  //background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box {
  cursor: move;
  box-sizing: border-box;
}


.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag {
  /* this is the animation that fires for the drag */
  transition: transform 150ms ease;
}

.cdk-drag-animating {
  /* this is the animation that fires for the drop */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  /* setting opacity to zero makes a blank space between list items during drag preview */
  opacity: 0;
}

.botom-space {
  margin-bottom: 18px;
}

.active {
  .botom-space {
    margin-bottom: 0;
  }
}

.select-width {
  max-width: 180px; //altered to set width properly
  text-overflow: ellipsis;
  min-width: 110px;
}

.none-back {
  background: #fff;
}

.none-back:disabled {
  opacity: 0.45;
}

// Responsive formula table layout 1024 to 1430px

@media screen and (min-width:1024px) and (max-width:1519px) {
  .parent-responsive {
    table-layout: fixed;

    tr.responsive-class {
      th.signal {
        width: 17%;
      }

      th.product {
        width: 34%;
      }

      th.amount {
        width: 25%;
      }

      th.delay {
        width: 15%;
      }

      th.dispensed {
        width: 25%;
      }

      th.delete {
        width: 11%;
      }
    }

    thead,
    tbody,
    tfoot,
    tr,
    td,
    th,
    .padding-row {
      padding: 12.5px 3px;
    }

    .inputstyle {
      width: 77px;
      padding: 0;
    }

  }

  .table.ng-select.ng-select-single .ng-select-container .ng-value-container,
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value,
  .inputstyle,
  .dispensedamount,
  .table> :not(:first-child),
  .table> :not(caption)>*>* {
    font-size: 12px;
  }
}

@media screen and (max-width: 399px) {
  .table tr th {
    padding: 2px 2px;
  }

  .formula-section.card,.active .accordion-toggle {
    padding: 0;
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th,
  .padding-row,.table> :not(:first-child),
  .table> :not(caption)>* {
    padding: 1px 1px;
    font-size: 10px;  
  }
  .align-rit {
    padding: 0;
  }

  .select-width{
    width: 113px;
  }
  .inputwidth{
    width: 45px;
  }
  .delaywidth{
    width: 30px !important;
  }

  .dispensedamount{
    width: 45px;
  }

  .btn-combine {
    display: flex;
    width: unset;
  }

}

@media screen and (min-width:399px) and (max-width: 451px) {

  .table tr th {
    padding: 2px 2px;
  }

  .formula-section.card,.active .accordion-toggle {
    padding: 0;
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th,
  .padding-row,.table> :not(:first-child),
  .table> :not(caption)>* {
    padding: 2px 3px;
    font-size: 10px;  
  }
  .align-rit {
    padding: 0;
  }

  .select-width{
    width: 130px;
  }
  .inputwidth{
    width: 59px;
  }

  .btn-combine {
    display: flex;
    width: unset;
  }
  .delaywidth{
width: 30px !important;
  }

}

@media screen and  (min-width:451px) and (max-width:1023px) {

  .formula-section.card,.active .accordion-toggle {
    padding: 0;
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th,
  .padding-row,.table> :not(:first-child),
  .table> :not(caption)>* {
    padding: 2px 4px;
    font-size: 12px;  
  }
  .align-rit {
    padding: 0;
  }

  .select-width{
    max-width: 180px;
  }
  .inputwidth{
    width: 68px;
  }
  
  .btn-combine {
    display: flex;
    width: unset;
  }
}