<app-header></app-header>
<div id="collapsesection" class="formula-page" *ngIf="formulaForm">
    <form class="form" id="washerform" [ngClass]="{'formsubmitted': !!formulaForm['submitted']}"
        [formGroup]="formulaForm" novalidate>
        <div>
            <div class="min-height" formArrayName="conditionGroups">
                <div *ngFor="let condition of formulaForm['controls']['conditionGroups']['controls']; let i=index"
                    [ngClass]="hideWasherContent[i] ? 'active' : '' ">

                    <div class="card mt-4 row mobile-bot-paddibg" formGroupName="{{i}}">
                        <div class="card-header fw-bold font-15 ajust-padding d-flex justify-content-between">
                            <div class="d-flex align-center">
                                <span class="me-3"><img src="/assets/images/Move.svg"></span>
                                <span class="top-pad"> WASHER {{i+1}}</span>
                            </div>
                            <div class="img-washer d-flex">
                                <div class="capacity-pad">
                                    Capacity: {{this.masterData?.washersettings[i].Capacity}}
                                </div>
                                <div class="mr-0 cursor-pointer" (click)="toggleWasher(i)"><span
                                        class="down-arrow"></span></div>
                            </div>

                        </div>
                        <div class="left-right-pad pt-0 mb-4" id="bodycollapse" class="accordion-toggle"
                            aria-labelledby="cardcollapse" data-bs-parent="#collapsesection">
                            <div class="d-flex mt-3 botom-space">
                                <div class="mx-2 cursor-pointer">
                                    <button class="border-0 btn-disable   formula-btn  white"
                                        (click)="addFormula(i,condition?.value?.formulaControlsArray)">
                                        {{popupObjectMessage.AddFormula}}</button>
                                </div>
                                <div class="mx-2 cursor-pointer">
                                    <button class="border-0 btn-disable p-0  formula-btn  white px-2"
                                        *ngIf="this.masterData?.formula[i]?.formulaControlsArray?.length >0"
                                        (click)="moveFormula(i)">
                                        {{popupObjectMessage.ReorderFormula}}</button>
                                </div>
                                <div class="mx-2 cursor-pointer">
                                    <button class="border-0 btn-disable  formula-btn  white" *ngIf="disableCopyBtn"
                                        (click)="copyWasher(i)">
                                        {{popupObjectMessage.copyFormulaText}}</button>
                                </div>
                            </div>
                            <div class="form-layout row g-4 w-100 m-0 example-list"
                                formArrayName="formulaControlsArray">
                                <div [ngClass]="{'d-none': formulaList['controls']['ForumlaName'].value == '(Unused)'}"
                                    class="formula-section card border-blue col-md-6 col-sm-12 font-12"
                                    *ngFor="let formulaList of condition['controls'].formulaControlsArray['controls']; let childi=index;">
                                    <div
                                        class="card-header cursor-move card d-block font-12 white header-background px-2">
                                        <span class="me-2"><img src="/assets/images/Move-1.svg"></span> Formula
                                        {{formulaList['controls']['FormulaNumber'].value}}
                                        <button (click)="removeFormula(i,childi)"
                                            class="border-0 btn-disable float-end"><img
                                                src="/assets/images/Delete-icon.svg"></button>
                                    </div>
                                    <div class="forumlas card d-block cust-tiles" [formGroupName]="childi">
                                        <div class="formula-heading p-2">
                                            <label for="Name"
                                                class="form-label font-12">{{popupObjectMessage.FormulaName}}</label>
                                            <input id="forumlaname" allowAlphaNumeric (keydown)="handleSpace($event)" (ngModelChange)="validateFormulaName()"
                                                placeholder="Formula Name" maxlength="20" type="text"
                                                formControlName="ForumlaName" class="form-control inputstyle font-12">
                                        </div>
                                        <div class="formula-details-section" formArrayName="SignalList">
                                            <!-- <div class="mt-1" *ngFor="let items of getFormArrayElement(i)?.controls;let signalIndex = index;"> -->
                                            <div class="mt-1">
                                                <!-- <div *ngFor="let item of items[signalIndex]?.controls;let CI = index"> -->
                                                <div>
                                                    <table
                                                        class="table table-responsive table-odd-row-col mb-0 parent-responsive">
                                                        <thead>
                                                            <tr class="back-round responsive-class">
                                                                <th scope="col"
                                                                    class="signal font-14 table-header fw-normal text-center"
                                                                    scope="col">
                                                                    {{popupObjectMessage.Signal}}
                                                                </th>
                                                                <th scope="col"
                                                                    class="product font-14 table-header fw-normal text-center"
                                                                    scope="col">
                                                                    {{popupObjectMessage.Product}}</th>
                                                                <th scope="col"
                                                                    class="amount font-14 table-header fw-normal text-center"
                                                                    scope="col">
                                                                    <span
                                                                        *ngIf="this.masterData?.washersettings[i].Capacity.split(' ')[1]=='lb';else capacityPerKg">{{popupObjectMessage.Amtlbs}}</span>
                                                                    <ng-template
                                                                        #capacityPerKg>{{popupObjectMessage.Amtkg}}
                                                                    </ng-template>
                                                                </th>
                                                                <th scope="col"
                                                                    *ngIf="this.masterData?.controllerProductSettings?.Region?.toLowerCase()=='europe'"
                                                                    class="delay font-14 table-header fw-normal text-center"
                                                                    scope="col">
                                                                    {{popupObjectMessage.Delay}}</th>
                                                                <th scope="col"
                                                                    class="dispensed font-14 table-header fw-normal text-center"
                                                                    scope="col">
                                                                    <span
                                                                        *ngIf="this.masterData?.washersettings[i].Capacity.split(' ')[1]=='lb';else CapacityPerKg">{{popupObjectMessage.DispensedAmtlbs}}</span>
                                                                    <ng-template
                                                                        #CapacityPerKg>{{popupObjectMessage.DispensedAmtkg}}
                                                                    </ng-template>
                                                                </th>
                                                                <th scope="col"
                                                                    class="delete font-14 table-header fw-normal text-center ps-0"
                                                                    scope="col">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container
                                                                *ngFor="let items of formulaList['controls']?.SignalList['controls'];let signalIndex = index;">

                                                                <tr scope="row" [formGroupName]="signalIndex">
                                                                    <td>
                                                                        <ng-select
                                                                            [items]="productDropdown[i][childi][signalIndex]?.signal"
                                                                            (ngModelChange)="onChangeSignalNumber(i,childi,signalIndex,'signalNumber')"
                                                                            formControlName="SignalNumber"
                                                                            [clearable]="false">
                                                                        </ng-select>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <ng-select formControlName="ProductName"
                                                                            class="select-width font-11"
                                                                            [readonly]="!items['controls']['SignalNumber'].value"
                                                                            bindLabel="value" bindValue="value"
                                                                            (ngModelChange)="onChangeSignalNumber(i,childi,signalIndex,'productName')"
                                                                            [clearable]="false">
                                                                            <ng-option 
                                                                                *ngFor="let pName of productDropdown[i][childi][signalIndex]?.product"
                                                                                [value]="pName">{{pName}} <img  *ngIf="fetchIsLockFlagfromProduct(pName)" height="15px" width="15px" src="/assets/images/Locked.svg"> 
                                                                            </ng-option>
                                                                        </ng-select>
                                                                    </td>
                                                                    <td class="centeralign">
                                                                        <input app-numeric [allowDecimal]="true" min="0"
                                                                            type="number" type="text"
                                                                            class="form-control text-center inputstyle font-12 inputwidth"
                                                                            formControlName="ProductAmount" max="726" maxlength="8"
                                                                            (ngModelChange)="onChangeProductAmount($event,i,childi,signalIndex)">
                                                                    </td>
                                                                    <td class="centeralign"
                                                                        *ngIf="this.masterData?.controllerProductSettings?.Region?.toLowerCase()=='europe'">
                                                                        <input app-numeric [allowDecimal]="false"
                                                                            min="0" type="number" type="text" maxlength="3"
                                                                            class="form-control text-center inputstyle font-12 delaywidth"
                                                                            formControlName="ProductDelay"
                                                                            (ngModelChange)="onChangeProductDelay($event,i,childi,signalIndex)">
                                                                    </td>
                                                                    <td class="text-center"> 
                                                                        {{items['controls']['DispensedAmount'].value}}
                                                                    </td>
                                                                    <td class="text-end align-rit"><button
                                                                            (click)="removeSignal(i,childi,signalIndex);onChangeSignalNumber(i,childi,signalIndex,'delete')"
                                                                            class="border-0 btn-disable"><img
                                                                                src="/assets/images/Delete-icon.svg"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                            <tr scope="row" class="padding-row none-back">
                                                                <td class="text-center" colspan="5">
                                                                    <button
                                                                        [disabled]="disableBtnAddSignal(formulaList['controls'],i,childi)"
                                                                        (click)="createSignal(formulaList['controls']?.SignalList);onChangeSignalNumber(i,childi,null,'addNewSignalRow')"
                                                                        class="none-back font-12 blue text-center text-decoration-underline border-0">{{popupObjectMessage.AddSignal}}</button>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="d-flex justify-content-between mt-3">
    <div>
        <button type="button" (click)="backToPerviousPage()"
            class="defaultbtn btn-next btnback bg-white">{{popupObjectMessage.back}}</button>
    </div>
    <div class="btn-combine">
        <button *ngIf="isEditFlag" type="button" [disabled]="hasProductError" class="defaultbtn btn-next btn-width me-3"
            (click)="navigateToReviewPage()">{{popupObjectMessage.review}}</button>
        <button type="button" [disabled]="hasProductError" class=" defaultbtn btn-next btn-width"
            (click)="reviewFinalizePage()">{{popupObjectMessage.next}}</button>
    </div>
</div>