<app-header></app-header>
<form id="reviewform" [ngClass]="{'formsubmitted': !!ab300reviewfinaliseForm['submitted']}" [formGroup]="ab300reviewfinaliseForm"
    novalidate>
    <div class="review-page">
        <div class="d-flex mb-3">
            <div class="scls-heading font-24 p-0 mt-4">
                {{this.masterData?.configurationDetails?.Name}}
            </div>
        </div>
        <div class="row font-12">
            <div class="col-md-4 col-sm-12">
                <div class="formula-section card-header card border-blue header-background white font-12 px-2 d-flex">
                    <div class="d-flex justify-content-between">
                        <span>Controller Configuration</span>
                        <span class="cursor-pointer" (click)="onEditClick('controllersetting','','')">
                            <img src="/assets/images/Edit-White.svg">
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-column p-0 border-1">
                    <div class="d-flex justify-content-between row-style">
                        <div class="">
                             {{labelObjectMessages.Region}}
                        </div>
                        <div class="">
                            {{this.masterData?.controllerProductSettings?.Region}}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between row-style">
                        <div class="">
                            {{labelObjectMessages.DateTime}}
                        </div>
                        <div class="">
                            {{this.masterData?.dateAndTime}}
                        </div>

                    </div>
                    <div class="d-flex justify-content-between row-style">
                        <div class="">
                            {{labelObjectMessages.Uom}}
                        </div>
                        <div class="">
                            {{this.masterData?.controllerProductSettings?.UnitOfMeasure?.value}}
                        </div>

                    </div>
                    <div class="d-flex justify-content-between row-style">
                        <div class="">
                            {{labelObjectMessages.Bow}}
                        </div>
                        <div class="">
                            {{this.masterData?.watersettings?.length}}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between row-style">
                        <div class="">
                            {{labelObjectMessages.TimeZone}}
                        </div>
                        <div class="">
                            {{this.masterData?.controllerProductSettings?.TimeZone?.value}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card mt-4 row mobile-bot-paddibg"
                *ngFor="let reviewData of reviewSummaray;let parentIndex=index"
                [ngClass]="hideWasherContent[parentIndex] ? 'active' : '' ">

                <div class="card-header fw-bold font-15 ajust-padding d-flex justify-content-between">
                    <div class="d-flex align-center">
                        <span class="me-3"><img src="/assets/images/Move.svg"></span>
                        <span class="top-pad"> Bodies of Water {{parentIndex+1}}</span>
                    </div>

                    <div class="img-washer d-flex" (click)="toggleWasher(parentIndex)">
                        <div class="mr-0 cursor-pointer"><span class="down-arrow"></span></div>
                    </div>

                </div>
                <div class="left-right-pad pt-0 mb-4" id="bodycollapse" class="accordion-toggle"
                    aria-labelledby="cardcollapse" data-bs-parent="#collapsesection">

                    <div class="form-layout row g-4 w-100 m-0">
                        <div class="col-md-4 col-sm-12">
                            <div class="device-setting">
                                <div
                                    class="formula-section card-header card border-blue header-background white font-12 px-2 d-flex">
                                    <div class="d-flex justify-content-between">
                                        <span>Settings</span>
                                        <span class="cursor-pointer" (click)="onEditClick('water','',parentIndex)">
                                            <img src="/assets/images/Edit-White.svg">
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column p-0 border-1 font-12">
                                    <div class="d-flex justify-content-between row-style">
                                        <div class="">
                                            {{labelObjectMessages.Type}}
                                        </div>
                                        <div class="">
                                            {{reviewData.Types.value}} </div>
                                    </div>
                                    <div class="d-flex justify-content-between row-style">
                                        <div class="">
                                            {{labelObjectMessages.Disinfectant}}
                                        </div>
                                        <div class="">
                                            {{reviewData.Disinfectant.value}}
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between row-style">
                                        <div class="">
                                            {{labelObjectMessages.Feeder}}
                                        </div>
                                        <div class="">
                                            {{reviewData.Feeder.value}}
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between row-style">
                                        <div class="">
                                            {{labelObjectMessages.pHSetpoint}}
                                        </div>
                                        <div class="">
                                            {{reviewData.PHSetPoint.value}}
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between row-style">
                                        <div class="">
                                            {{labelObjectMessages.DisinfectantSensor}}
                                        </div>
                                        <div class="">
                                            {{(reviewData.PHDisinfectantSensor.value )}}
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between row-style">
                                        <div class="">
                                            {{labelObjectMessages.DisinfectantSetpoint}}
                                        </div>
                                        <div class="">
                                            {{reviewData.PHDisinfectantSetPoint}}
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between row-style">
                                        <div class="">
                                            {{labelObjectMessages.FlowMeter}}
                                        </div>
                                        <div class="">
                                            {{reviewData.FlowMeter}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 responsive-margin">
                            <div
                                class="formula-section card-header card border-blue header-background white font-12 px-2 d-flex">
                                <div class="d-flex justify-content-between">
                                    <span>Advance Settings</span>
                                    <span class="cursor-pointer" (click)="onEditClick('water','',parentIndex)">
                                        <img src="/assets/images/Edit-White.svg">
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex flex-column p-0 border-1 font-12">
                                <div class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.pHinOverfeed}}
                                    </div>
                                    <div>
                                        {{reviewData.pHInOverFeed +' mins'}}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.DisinfectantInOverfeed}}
                                    </div>
                                    <div>
                                        {{reviewData.DisinfectantInOverFeed+' mins'}}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.Aux1}}
                                    </div>
                                    <div>
                                        {{reviewData.Aux1.value}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux1.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.FeederType}}
                                    </div>
                                    <div>
                                        {{reviewData.FeederType1}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux1.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.DaysOfWeek}} 
                                    </div>
                                    <div>
                                        {{getDays(reviewData,1)}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux1.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.TimeOfDay}} 
                                    </div>
                                    <div>
                                        {{getTime(reviewData.Time1)}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux1.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.Duration}} 
                                    </div>
                                    <div>
                                        {{reviewData.Duration1 +' mins'}}
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.Aux2}} 
                                    </div>
                                    <div>
                                        {{reviewData.Aux2.value}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux2.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.FeederType}}
                                    </div>
                                    <div>
                                        {{reviewData.FeederType2}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux2.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.DaysOfWeek}} 
                                    </div>
                                    <div>
                                        {{getDays(reviewData,2)}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux2.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.TimeOfDay}} 
                                    </div>
                                    <div>
                                        {{getTime(reviewData.Time2)}}
                                    </div>
                                </div>
                                <div *ngIf="reviewData.Aux2.value=='ON'"
                                    class="d-flex justify-content-between row-style">
                                    <div class="">
                                        {{labelObjectMessages.Duration}} 
                                    </div>
                                    <div>
                                        {{reviewData.Duration2 +' mins'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row flex-wrap justify-content-between mt-4">
    <button type="button" (click)="backToPerviousPage()"
        class="defaultbtn btn-next btnback bg-white">{{labelObjectMessages.back}}</button>
    <button *ngIf="!isEditFlag" type="button" class=" defaultbtn btn-next w-auto" (click)="createConfiguration()">
        {{labelObjectMessages.CreateConfiguration}}</button>
    <button *ngIf="isEditFlag" type="button" class="defaultbtn btn-next w-auto" (click)="createConfiguration()">
        {{labelObjectMessages.UpdateConfiguration}}</button>
</div>
