.row-style {
    padding: 3px 10px;
    letter-spacing: -0.29px;
}

.row-style:nth-child(odd) {
    background: #0086E90F;
}

.border-1 {
    border: 1px solid #0086E9;
}

.back-round {
    background-color: #0086E93D;
}

.form-layout {
    margin: 20px 0;
}

$black: #000000;

.centeralign {
    text-align: -webkit-center;
}

.table> :not(:first-child),
.table> :not(caption)>* {
    padding: 12px 10px;
    font-size: 10px;
    color: $black;
}

.table tr th {
    padding: 5px 7px;
}

.inputwidth {
    width: 72px;
}

thead,
tbody,
tfoot,
tr,
td,
th,
.padding-row {
    vertical-align: middle;
    color: $black;
    padding: 12.5px 11px;
    font-size: 10px;
}

.padding-row {
    background-color: #0086E90F;
}

.table-odd-row-col.reviewtable>tbody:nth-of-type(odd)>* {
    background: #fff;
}

.table-odd-row-col.reviewtable>tbody:nth-of-type(even)>* {
    background: #0086E90F;
}

.table-odd-row-col>tbody>tr:nth-of-type(odd)>* {
    background: none;
    padding: 4.5px 0px;
}

.cust-tiles {
    border-color: #0086E9;
    border-radius: initial;
}

.formula-section.card {
    border: none;
}

.ajust-padding {
    padding: 14px 25px;
}

.align-rit {
    padding: 0 9px;
}

.formula-btn {
    background: #0086E9;
}

@media screen and (max-width: 1023px) {
    .responsive-margin {
        margin-top: 20px;
    }
}
