<div class="page-height">
    <app-header></app-header>
    <form class="row g-3 form  pt-3" [ngClass]="{'formsubmitted': !!controllerFormConfigurationForm['submitted']}"
        [formGroup]="controllerFormConfigurationForm" id="controllerconfigrationform" novalidate>
        <div class="card mt-4 p-0">
            <div class="card-header fw-bold font-15 left-padding-card">
                CONTROLLER CONFIGURATION
            </div>
            <div class="card-body p-0 cart-body-mobile">
                <div class="form-layout">
                    <div class="row mb-3 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="Name" class="form-label">Region</label>
                            <ng-select [clearable]="false" id="region" *ngIf="selectedController?.toLocaleLowerCase()!=='ab300'"
                            (change)="onChangeRegion(Region);convertKGtoLb();" formControlName="Region"
                            [items]="region" bindLabel="value" bindValue="value" placeholder="Select value">
                            <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                            </ng-template>
                        </ng-select>
                            <input id="region" [readonly]="true" *ngIf="selectedController?.toLocaleLowerCase()=='ab300'" required formControlName="Region" type="text"
                                class="form-control font-14 w-100">
                            <div *ngIf="Region.invalid && (!!controllerFormConfigurationForm['submitted'] || Region.dirty || Region.touched)"
                                class="text-danger text-left">
                                <div *ngIf="Region.errors?.['required']">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="controllerapplication" class="form-label">Unit of measure</label>
                            <ng-select [clearable]="false" (change)="onChangeUnitofMeasure(UnitOfMeasure)"
                                id="unitofmeasure" formControlName="UnitOfMeasure" [items]="unitOfMeasure"
                                bindLabel="value" bin placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div *ngIf="selectedController?.toLocaleLowerCase()!=='ab300'" class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="Name" class="form-label">Primary language</label>
                            <ng-select [clearable]="false" id="primarylanguage" formControlName="PrimaryLanguage"
                                [items]="uniqueLanguage" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                            <!-- <label for="controllerapplication" class="form-label">Formula selector</label>
                            <ng-select [clearable]="false" id="formulaselector" formControlName="FormulaSelector"
                                [items]="formulaSelector " bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select> -->
                        </div>

                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="controllerapplication" class="form-label">Secondary language</label>
                            <ng-select [clearable]="false" id="secondarylanguage" formControlName="SecondaryLanguage"
                                [items]="uniqueLanguage" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="controllerapplication" class="form-label">Timezone</label>
                            <ng-select [clearable]="false" id="timezone" formControlName="TimeZone" bindLabel="value"
                                [items]="regionSelectionData?.timeZones" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                            <div *ngIf="TimeZone.invalid && (!!controllerFormConfigurationForm['submitted'] || TimeZone.dirty || TimeZone.touched)"
                                class="text-danger text-left">
                                <div *ngIf="TimeZone.errors?.['required']">
                                    Please select the timezone
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedController?.toLocaleLowerCase()!=='ab300'"
                            class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="Name" class="form-label">TM language</label>
                            <ng-select [clearable]="false" id="tmlangauage" formControlName="TmLangauage"
                                [items]="uniqueLanguage" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div *ngIf="selectedController?.toLocaleLowerCase()==='scls' && isFacility"
                        class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <label for="controllerapplication" class="form-label">Facility</label>
                            <ng-select [clearable]="false" id="facility" formControlName="Facility" bindLabel="value"
                                bindValue="value" [items]="facility" (change)="onChangeFacility(Facility)"
                                placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                            <div *ngIf="Facility.invalid && (!!controllerFormConfigurationForm['submitted'] || Facility.dirty || Facility.touched)"
                                class="text-danger text-left">
                                <div *ngIf="Facility.errors?.['required']">
                                    Please select the facility
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedController?.toLocaleLowerCase()!=='ab300'" class="card mt-4 p-0">
            <div class="card-header fw-bold font-15 left-padding-card">
                PRODUCT SETTINGS
            </div>
            <div class="card-body p-0 cart-body-mobile">
                <div class="form-layout">
                    <div class="row mb-3 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="Name" class="form-label">Pocket 1 </label>
                                    <mat-icon *ngIf="this.isLockedproductList.isproductOneLocked" svgIcon="locked"
                                        #tooltip="matTooltip" class="position-absolute"
                                        [matTooltip]="popupObjectMessage.lockedMessageToolTip"
                                        [matTooltipPosition]="'right'"
                                        [matTooltipClass]="{'right': true}">info_outline</mat-icon>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pocket1" formControlName="ProductOne"
                                (ngModelChange)="onPocketValueChange(1)" [items]="regionSelectionData?.Pocket1"
                                (change)="onProductChange(1,$event)" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="controllerapplication" class="form-label">Pocket 2 </label>
                                    <mat-icon *ngIf="this.isLockedproductList.isProductTwoLocked" svgIcon="locked"
                                        #tooltip="matTooltip" class="position-absolute"
                                        [matTooltip]="popupObjectMessage.lockedMessageToolTip"
                                        [matTooltipPosition]="'right'"
                                        [matTooltipClass]="{'right': true}">info_outline</mat-icon>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pocket2" formControlName="ProductTwo"
                                (change)="onProductChange(2,$event)" (ngModelChange)="onPocketValueChange(2)"
                                [items]="regionSelectionData?.Pocket2" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="Name" class="form-label">Pocket 3</label>
                                    <mat-icon *ngIf="this.isLockedproductList.isProductThreeLocked" svgIcon="locked"
                                        #tooltip="matTooltip" class="position-absolute"
                                        [matTooltip]="popupObjectMessage.lockedMessageToolTip"
                                        [matTooltipPosition]="'right'"
                                        [matTooltipClass]="{'right': true}">info_outline</mat-icon>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pocket3" formControlName="ProductThree"
                                (ngModelChange)="onPocketValueChange(3)" [items]="regionSelectionData?.Pocket3"
                                (change)="onProductChange(3,$event)" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <!-- <label for="controllerapplication" class="form-label"></label> -->
                            <div [ngSwitch]="selectedController">
                                <div class="row mb-6 margin-0-mobile">
                                    <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                        <label *ngIf="selectedController=='LCLS'" for="Name" class="form-label">Pocket
                                            4</label>
                                        <label *ngIf="selectedController!='LCLS'" class="form-label">Pocket 4
                                            (optional)</label>
                                        <mat-icon *ngIf="this.isLockedproductList.isProductFourLocked" svgIcon="locked"
                                            #tooltip="matTooltip" class="position-absolute"
                                            [matTooltip]="popupObjectMessage.lockedMessageToolTip"
                                            [matTooltipPosition]="'right'"
                                            [matTooltipClass]="{'right': true}">info_outline</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pocket4" formControlName="ProductFour"
                                (change)="onProductChange(4,$event)" (ngModelChange)="onPocketValueChange(4)"
                                [items]="regionSelectionData?.Pocket4" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label *ngIf="selectedController=='LCLS'" for="Name" class="form-label">Pocket 5
                                    </label>
                                    <label *ngIf="selectedController!='LCLS'" class="form-label">Liquid Add-on
                                        (optional)</label>
                                    <mat-icon *ngIf="this.isLockedproductList.isProductFiveLocked" svgIcon="locked"
                                        #tooltip="matTooltip" class="position-absolute"
                                        [matTooltip]="popupObjectMessage.lockedMessageToolTip"
                                        [matTooltipPosition]="'right'"
                                        [matTooltipClass]="{'right': true}">info_outline</mat-icon>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="liquidaddon" formControlName="ProductFive"
                                (change)="onProductChange(5,$event)" (ngModelChange)="onPocketValueChange(5)"
                                [items]="regionSelectionData?.Pocket5" bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngIf="selectedController=='LCLS'" class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="controllerapplication" class="form-label">Pocket 6 </label>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pocket6" formControlName="ProductSix"
                                (ngModelChange)="onPocketValueChange(6)" [items]="regionSelectionData?.Pocket6"
                                bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div *ngIf="selectedController=='LCLS'" class="row mb-4 margin-0-mobile">
                        <div class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="Name" class="form-label">Pocket 7</label>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pocket7" formControlName="ProductSeven"
                                (ngModelChange)="onPocketValueChange(7)" [items]="regionSelectionData?.Pocket7"
                                bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngIf="selectedController=='LCLS'" class="col-md-6 col-sm-12 mobile-margin-bottom">
                            <div class="row mb-6 margin-0-mobile">
                                <div class="col-md-8 col-sm-12 mobile-margin-bottom">
                                    <label for="controllerapplication" class="form-label">Pocket 8</label>
                                </div>
                            </div>
                            <ng-select [clearable]="false" id="pocket8" formControlName="ProductEight"
                                (ngModelChange)="onPocketValueChange(8)" [items]="regionSelectionData?.Pocket8"
                                bindLabel="value" placeholder="Select value">
                                <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <button type="button" class="defaultbtn btn-next btnback bg-white"
                    (click)="backtoDetailsPage()">BACK</button>
            </div>
            <div class="btn-combine">
                <button *ngIf="isEditFlag" type="button" class="defaultbtn btn-next btn-width me-3"
                    (click)="navigateToReviewPage()" [disabled]="hasProductError">REVIEW</button>
                <button type="button" [disabled]="hasProductError" class="defaultbtn btn-next btn-width"
                    (click)="washersPage()">NEXT</button>
            </div>
        </div>
    </form>
</div>