@media screen and (max-width: 1023px) {
    .justify-content-between {
        justify-content: space-between !important;
    }

    .btn-combine {
        display: flex;
        width: unset;
    }
}